<h3 class="text-center"><i>{{studentList.length}} students</i></h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th class="text-center" scope="col">
      First name
      <i (click)="sortStudents('firstname','asc')" class="fa fa-arrow-up mx-2"></i>
      <i (click)="sortStudents('firstname','desc')" class="fa fa-arrow-down mx-2"></i>
    </th>
    <th class="text-center" scope="col">
      Last name
      <i (click)="sortStudents('lastname','asc')" class="fa fa-arrow-up mx-2"></i>
      <i (click)="sortStudents('lastname','desc')" class="fa fa-arrow-down mx-2"></i>
    </th>
    <th class="text-center" scope="col">
      Gender
      <i (click)="sortStudents('gender','asc')" class="fa fa-arrow-up mx-2"></i>
      <i (click)="sortStudents('gender','desc')" class="fa fa-arrow-down mx-2"></i>
    </th>
    <th class="text-center" scope="col">
      Skill score
      <i (click)="sortStudents('skillscore','asc')" class="fa fa-arrow-up mx-2"></i>
      <i (click)="sortStudents('skillscore','desc')" class="fa fa-arrow-down mx-2"></i>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of studentList">
    <td class="text-center">{{student.firstName}}</td>
    <td class="text-center">{{student.lastName}}</td>
    <td class="text-center">{{student.gender}}</td>
    <td class="text-center">{{student.skillScore}}</td>
  </tr>
  </tbody>
</table>

<button class="w-100 btn btn-primary" (click)="shuffleStudents()">
  Shuffle students <i class="fa fa-shuffle mx-3"></i>
</button>
