<form>
  <div class="form-group">
    <label for="firstnameInput">First name</label>
    <input type="text" class="form-control" id="firstnameInput" placeholder="Enter first name" name="firstNameInput"
           [(ngModel)]="firstNameInput" required>
  </div>
  <div class="form-group">
    <label for="lastnameInput">Last name</label>
    <input type="text" class="form-control" id="lastnameInput"
           placeholder="Enter last name" name="lastNameInput"
           required [(ngModel)]="lastNameInput">
  </div>
  <span>Enter the student's gender</span>
  <select class="form-select" id="genderInput"
          [(ngModel)]="genderInput" name="genderInput" required>
    <option *ngFor=" let gender of genderList">
      {{gender}}
    </option>
  </select>

  <div class="form-group">
    <label for="skillScoreInput">Skill score</label>
    <input type="number" class="form-control" id="skillScoreInput" placeholder="Enter skill level"
           [(ngModel)]="skillScoreInput" name="skillScoreInput" required>
  </div>
  <button type="submit" class="btn btn-primary mt-5 w-100" (click)="submitForm()">
    Add student <i class='fa fa-plus mx-2'></i>
  </button>
</form>
