<h1 class="text-center my-5">Create groups</h1>
<form>
  <div class="form-group">
    <label for="nbPerGroup">Students per group</label>
    <input type="number" class="form-control" id="nbPerGroup" placeholder="Number of students per group"
      name="nbPerGroup" [(ngModel)]="nbPerGroup" required>
  </div>
  <button type="submit" class="btn btn-primary mt-5 w-100" (click)="submitForm()">
    Create groups <i class="fa fa-people-group mx-3"></i>
  </button>
</form>


<div *ngIf="areGroupsFormed" class="mt-5 d-flex flex-wrap justify-content-around">
  <div *ngFor="let group of groups; let index = index" class="d-flex justify-content-around border my-3">
    <div class="card position-relative" style="width: 18rem;">
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{group.length}}
        <span class="visually-hidden">unread messages</span>
      </span>
      <div class="card-header text-center">
        Group {{index + 1}}
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let student of group" class="list-group-item text-center">
          {{student.firstName.toUpperCase()}} {{student.lastName}}
        </li>
      </ul>
    </div>
  </div>
</div>