<header>
  <app-header></app-header>
</header>

<main class="p-4">
  <div class="row gx-5">
    <div class="col-md-6 col-12">
      <h3 class="text-center my-2">Add a new student</h3>
      <app-student-form (newStudentEvent)="addStudent($event)"></app-student-form>
    </div>
    <div class="col-md-6 col-12">
      <app-student-table [studentList]="studentList"></app-student-table>
    </div>
  </div>
  <app-grouping-students [studentList]="studentList"></app-grouping-students>

</main>

